*,
*::before *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
  display: inline-block;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
html,
body {
  min-height: 100%;
}
:root {
  --font-main: "Lato", sans-serif;
  --font-add: "Poppins", sans-serif;
  /*const*/
  --white: #fff;
  --black: #000;
  /*brands*/
  --color-primary: #01996d;
  --color-text-first: #484848;
  --color-text-second: #292929;
  --color-text-third: #fff;
  --color-text-fourth: #424242;
  --color-border: #d6d6d6;
  --btn-radius: 4px;
}
body {
  font-family: "Lato", sans-serif;
  font-family: "Poppins", sans-serif;
}
/*common styles*/
.container {
  max-width: 1507px;
  width: 100%;
  margin-inline: auto;
}
.btn {
  display: inline-block;
  cursor: pointer;
  border: 0;
  outline: 0;
  font-family: var(--font-main);
  font-size: 20px;
}
.btn_link {
  color: var(--black);
}
.btn_primary {
  color: var(--color-text-third);
  line-height: 25px;
  border-radius: var(--btn-radius);
  border: 1px solid var(--color-primary);
  background: var(--color-primary);
  padding: 13px 50px;
}
/*header styles*/
.header {
  border-bottom: 1px solid var(--color-border);
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 70px;
}
.header__list {
  display: flex;
  align-items: center;
  gap: 72px;
}
.header__link {
  color: var(--color-text-second);
  font-family: var(--font-main);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.header__btn {
  display: flex;
  gap: 35px;
  align-items: center;
}
/*welcome  styles*/
.welcome__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.welcome__title {
  color: var(--color-primary);
  font-family: var(--font-add);
  font-size: 65px;
  font-weight: 700;
  max-width: 443px;
  margin-bottom: 10px;
}
.welcome__desc {
  color: var(--color-text-first);
  font-family: var(--font-main);
  font-size: 20px;
  line-height: 157%;
  margin-bottom: 53px;
  max-width: 420px;
}
/*how styles*/
.how__container {
  padding: 169px 0 392px;
}
.how-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 81px;
}
.how-info__title {
  color: var(--color-text-fourth);
  font-family: var(--font-main);
  font-size: 24px;
  font-weight: 600;
  line-height: 157%;
}
.how-info__slogan {
  color: var(--color-primary);
  font-family: var(--font-add);
  font-size: 50px;
  font-weight: 700;
  line-height: 157%;
  max-width: 579px;
}
.how-info__desc {
  color: var(--color-text-fourth);
  font-family: var(--font-main);
  font-size: 20px;
  font-weight: 700;
  line-height: 150%;
  max-width: 671px;
}
.how-step {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 68px;
}
.how-step__item {
  display: flex;
  flex-direction: column;
}
.how-step__title {
  color: var(--black);
  font-family: var(--font-add);
  font-size: 30px;
  font-weight: 700;
  line-height: 150%; 
  margin-bottom: 20px;
}
.how-step__desc {
  color: var(--color-text-fourth);
  font-family: var(--font-main);
  font-size: 20px;
  font-weight: 500;
  line-height: 150%; 
  max-width: 382px;
  flex-grow: 1;
  margin-bottom: 66px;
}
.how-step__img {
}
